/*
Author: Hans Jaeger
Date: Apr 26, 2024
Description: This is the CSS file for the workout page. 

*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    text-align: center;
}

.activity-checkboxes {
    display: flex;
    flex-wrap: wrap;

    margin-left: 5px;
    justify-content: center;
}

.graphics-section {
    display: flex;
    justify-content: center;
}

#activity {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#completed-activities {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
/*Making it responsive so that 
the image doesn't take the entire page when resizing*/
.carousel-container {
    max-width: 800px; 
    margin: 0 auto; 
    overflow: hidden;
    height: 400px; 
}
