/*
Author: Hans Jaeger
Date: April 25, 2024
Description: CSS for the Orders page
*/
/*Table style*/
.center-table{
  margin: 0 auto; 
  margin-top: 20px;
}
#calcTotal{
  margin-left: 125px;
}
/*Input style for required fields*/
input[required] {
  border: 2px solid rgb(252, 198, 48);
}

#arrivalDate{
  margin-top: 10px;
}

#hiddenAlert{
  margin-top: 10px;
}